<h5>10 most recently modified files</h5>
<table class="">
  <thead>
  <tr>
    <th class="">Name</th>
    <th class="">Last Modified</th>
  </tr>
  </thead>
  <tbody>
  <% @result.files.each do |file| %>
    <tr>
      <td class=""><a href="<%= file.web_view_link %>"><%= file.name %></a></td>
      <td class=""><%= file.modified_time %></td>
    </tr>
  <% end %>
  </tbody>
</table>